<footer>
  <div><small>Kurtis Johnson &copy 2025 - built with <a style="color: #999897;" href="https://www.11ty.dev/">11ty</a></small></div>
  <!--<div><small>Subscribe to notes via <a style="color: #999897;" href="https://www.kurtisojohnson.com/feed.xml">RSS/Feed</a></small></div>-->
</footer>
