<footer>
  <small>
    Kurtis Johnson &copy 2021 - built with <a style="color: #999897;" href="https://www.11ty.dev/">11ty</a>
  </small>
  <a style="color: #999897;" href="https://www.kurtisojohnson.com/feed.xml">Subscribe to notes via RSS/Feed</a>
</footer>
