<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<header class="header-container">
			<div class="logo">
			<em>
				<a href="{{ '/' | url }}"><img class="sitelogo" src="/static/img/sitelogo.svg"></a>
				<!-- <a href="{{ '/' | url }}"><h2>{{ metadata.title }}</h2></a> -->
			</em>
		</div>
		<div class="nav">
			{% include "components/nav.njk" %}
		</div>
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
